@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.BMLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 70px;
	flow-children: right;
}

#BMTitle
{
	font-size: 20px;
	color: #cccccc;
	text-shadow: 2px 2px 2px #000000;
}

.SeqP
{
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
}

.SeqBg
{
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
}

#seq
{

}

#seq_bg
{
    margin-left: 0px;
	pre-transform-scale2d: 1.0, 1.0;
}

#seq_p1
{
	margin-left: 100px;
	margin-top: 50px;
}

#seq_p2
{
	margin-left: 100px;
	margin-top: 280px;
}

#seq_p3
{
	margin-left: 100px;
	margin-top: 510px;
}

#seq_p4
{
	margin-left: 100px;
	margin-top: 740px;
}