@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.BMLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
}

/*-------------------------
Background Panel
-------------------------*/

#BM_Backgrounds
{

}

#BG_Main
{
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
}

#BG_Sides
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 0px;
	margin-left: 0px;
	opacity: .7;
}

#BG_TopLeft
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 0px;
	margin-left: 0px;
}

#GameTitle
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 60px;
	font-size: 20px;
	color: #cccccc;
	text-shadow: 2px 2px 2px #000000;
}

/*-------------------------
Left Panel
-------------------------*/

.BM_Left
{
	horizontal-align: left;
	vertical-align: top;
	width: 675px;
	height: 700px;
	margin-top: 72px;
	margin-left: 48px;
}

#BM_Updates
{
	horizontal-align: left;
	vertical-align: top;
	width: 404px;
	height: 400px;
	opacity: .5;
	flow-children: down;

	background-color: black;
}

#BM_Image
{
	width: 404px;
	height: 282px;
	margin-top: 420px;
	opacity: .5;

	background-color: black;
}

#BM_Ladder
{
	width: 250px;
	height: 700px;
	margin-left: 450px;
	opacity: .5;
	flow-children: down;

	background-color: black;
}

#UpdatesTitle
{
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px 2px #000000;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
}

#Updates
{
	font-size: 15px;
	color: #ffffff;
}

/*#Contact
{
	vertical-align: bottom;
	padding-bottom: 15px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 16px;
	color: #e5e5e5;
}*/

/*-------------------------
Tutorial Panel
-------------------------*/

#BM_Tutorials
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 0px;
	margin-left: 525px;
}

#T1
{
	margin-left: 0px;
	margin-top: 50px;
}

#T2
{
	margin-left: 0px;
	margin-top: 280px;
}

#T3
{
	margin-left: 0px;
	margin-top: 510px;
}

#T4
{
	margin-left: 0px;
	margin-top: 740px;
}


/*-------------------------
Tournament Panel
-------------------------*/

#BM_Tournament
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 102px;
	margin-left: 50px;
}

#T_Img1
{
	margin-left: 0px;
	margin-top: 0px;
}

/*-------------------------
Custom Game Setup
-------------------------*/

.Done_Loading
{
	background-image: url("file://{images}/custom_game/pregame_screen/background_default.png");
}
