@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.BMLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
}

/*-------------------------
Background Panel
-------------------------*/

#BM_Backgrounds
{

}

#BG_Main
{
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
}

/*--#BG_Left
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 0px;
	margin-left: 0px;
	opacity: .7;
}--*/

#GameTitle
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 60px;
	font-size: 20px;
	color: #cccccc;
	text-shadow: 2px 2px 2px #000000;
}

/*-------------------------
Left Panel Backgrounds
-------------------------*/
.BM_Left_Backgrounds
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 72px;
	margin-left: 48px;
}

#UpdatesPanel
{
	horizontal-align: left;
	vertical-align: top;
	width: 404px;
	height: 400px;
	opacity: .7;
	background-color: black;
}

#LadderPanel
{
	width: 250px;
	height: 700px;
	margin-left: 424px;
	opacity: .7;
	background-color: black;
	flow-children: down;
}

#BannerPanel
{
	width: 404px;
	height: 282px;
	margin-top: 420px;
	opacity: .7;
	background-color: black;
}

/*-------------------------
Left Panel Items
-------------------------*/

.BM_Left_Items
{
	horizontal-align: left;
	vertical-align: top;
	width: 675px;
	height: 700px;
	margin-top: 72px;
	margin-left: 48px;
}

#BM_Updates
{
	horizontal-align: left;
	vertical-align: top;
	width: 404px;
	height: 400px;
	flow-children: down;
}

#UpdatesTitle
{
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px 2px #000000;
	horizontal-align: left;
	padding-left: 15px;
	padding-top: 10px;
}

#UpdatesText
{
	font-size: 15px;
	color: #ffffff;
	padding-left: 12px;
	padding-right: 12px;
}

#BM_Ladder
{
	width: 250px;
	height: 700px;
	margin-left: 424px;
	flow-children: down;
}

#LadderTitle
{
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px 2px #000000;
	horizontal-align: left;
	padding-left: 15px;
	padding-top: 10px;
}

#LadderText
{
	font-size: 15px;
	color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}


#BM_Banner
{
	width: 404px;
	height: 282px;
	margin-top: 420px;
}

#Banner01
{
	opacity: 1.0;
}

/*-------------------------
Tutorial Panel
-------------------------*/

#BM_Tutorials
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 0px;
	margin-left: 800px;
	flow-children: down;
}

#T1
{
	margin-left: 0px;
	margin-top: 40px;
}

#T2
{
	margin-left: 0px;
	margin-top: 15px;
}

#T3
{
	margin-left: 0px;
	margin-top: 15px;
}

#T4
{
	margin-left: 0px;
	margin-top: 15px;
}


/*-------------------------
Tournament Panel
-------------------------*/

#BM_Tournament
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 102px;
	margin-left: 50px;
}

#T_Img1
{
	margin-left: 0px;
	margin-top: 0px;
}

/*-------------------------
Custom Game Setup
-------------------------*/

.Done_Loading
{
	background-image: url("file://{images}/custom_game/pregame_screen/background_default.png");
}
